# A fast, small, safe, gradually typed embeddable scripting language derived from Lua
#
# https://github.com/luau-lang/luau
# https://luau.org/

# Code coverage
coverage.out

# Profiling
profile.out
profile.svg

# Time trace
trace.json

# OS
.DS_Store
Thumbs.db

# Packages / generated
Packages/
DevPackages/
.pesde/

# Builds
build/
dist/
sourcemap.json

# Roblox Studio temporary files
*.rbxl.lock
*.rbxlx.lock